### Dictionaries

In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
empty_dict

{}

In [3]:
student = {'Name': 'Chitresh', 'Age': '32', 'Grade': 24}
print(student)

{'Name': 'Chitresh', 'Age': '32', 'Grade': 24}

In [5]:
std = {'Name': 'Chitresh', 'Age': '32', 'Name': 24}
std

{'Name': 24, 'Age': '32'}

### Accessing Dictionary Elements

In [6]:
student = {'Name': 'Chitresh', 'Age': '32', 'Grade': 24}
student

{'Name': 'Chitresh', 'Age': '32', 'Grade': 24}

In [8]:
student['Grade']

24

In [9]:
student['Age']

'32'

In [10]:
student.get('Grade')

24

In [11]:
student.get('Name')

'Chitresh'

In [14]:
student.get('LastName', 'Not found')

'Not found'

### Modifying Dictionary Elements

In [15]:
student

{'Name': 'Chitresh', 'Age': '32', 'Grade': 24}

In [17]:
student['Age'] = 21
student

{'Name': 'Chitresh', 'Age': 21, 'Grade': 24}

In [19]:
student['Grade'] = 50
student

{'Name': 'Chitresh', 'Age': 21, 'Grade': 50}

In [20]:
student['isSingle'] = True
student

{'Name': 'Chitresh', 'Age': 21, 'Grade': 50, 'isSingle': True}

In [21]:
del student['isSingle']
student

{'Name': 'Chitresh', 'Age': 21, 'Grade': 50}

### Dictionary Methods

In [22]:
keys = student.keys()
keys

dict_keys(['Name', 'Age', 'Grade'])

In [23]:
values = student.values()
values

dict_values(['Chitresh', 21, 50])

In [29]:
items = student.items()
items

dict_items([('Name', 'Chitresh'), ('Age', 21), ('Grade', 50)])

### Shallow Copy

In [30]:
student_copy = student
student_copy

{'Name': 'Chitresh', 'Age': 21, 'Grade': 50}

In [31]:
student['Name'] = 'Krish'
student_copy

{'Name': 'Krish', 'Age': 21, 'Grade': 50}

In [32]:
student

{'Name': 'Krish', 'Age': 21, 'Grade': 50}

In [33]:
student = {'Name': 'Chitresh', 'Age': '32', 'Grade': 24}

In [35]:
student_copy = student.copy()

In [36]:
student['Name'] = 'Krish'
student

{'Name': 'Krish', 'Age': '32', 'Grade': 24}

In [37]:
student_copy

{'Name': 'Chitresh', 'Age': '32', 'Grade': 24}

### Iterating over Dictionaries

In [38]:
for keys in student:
    print(keys)

Name
Age
Grade

In [39]:
for values in student.values():
    print(values)

Krish
32
24

In [41]:
for key, value in student.items():
    print(f"{key} : {value}")

Name : Krish
Age : 32
Grade : 24

### Nested Dictionaries

In [42]:
students = {
    'student1': {'Name': 'Krish', 'Age': '32', 'Grade': 24},
    'student2': {'Name': 'Chitresh', 'Age': '32', 'Grade': 24}
}
students

{'student1': {'Name': 'Krish', 'Age': '32', 'Grade': 24},
 'student2': {'Name': 'Chitresh', 'Age': '32', 'Grade': 24}}

 - access elements in nested dictionaries

In [43]:
students['student2']['Name']

'Chitresh'

In [44]:
students['student2']['Age']

'32'

 - Iterating over nested dictionaries

In [45]:
students = {
    '01': {'Name': 'Krish', 'Age': '32', 'Grade': 24},
    '02': {'Name': 'Chitresh', 'Age': '32', 'Grade': 24}
}
students

{'01': {'Name': 'Krish', 'Age': '32', 'Grade': 24},
 '02': {'Name': 'Chitresh', 'Age': '32', 'Grade': 24}}

In [48]:
for student_id, student_info in students.items():
    print(f"Student Id: {student_id}")
    for key, value in student_info.items():
        print(f"{key} : {value}")
    print()

Student Id: 01
Name : Krish
Age : 32
Grade : 24

Student Id: 02
Name : Chitresh
Age : 32
Grade : 24

### Dictionary Comprehention

In [49]:
squares = {x: x ** 2 for x in range(1, 11)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [50]:
evens = {x: x ** 2 for x in range(11) if x % 2 == 0}
evens

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

### Merge two dictionaries

In [53]:
student_copy

{'Name': 'Chitresh', 'Age': '32', 'Grade': 24}

In [54]:
student

{'Name': 'Krish', 'Age': '32', 'Grade': 24}

In [55]:
merged = {**student, **student_copy}
merged

{'Name': 'Chitresh', 'Age': '32', 'Grade': 24}

### Example

 - Count frequency of elements in a list

In [52]:
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}