### Tuples
 - Ordered collections of items that are immutable.
 - Similar to lists, but immutable.

In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [1]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [2]:
numbers = tuple([1, 2, 3, 4, 5, 6])
numbers

(1, 2, 3, 4, 5, 6)

In [3]:
list((1, 2, 3, 4, 5, 6))

[1, 2, 3, 4, 5, 6]

In [4]:
mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

### Accessing Tuple Elements

In [5]:
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
print(numbers[2])
print(numbers[-1])

3
6

In [8]:
numbers[0:4]

(1, 2, 3, 4)

In [9]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

### Tuple operations

In [10]:
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [11]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

### Immutable Nature of Tuples
 - Tuples are immutable, meaning their elements cannot be changed once assigned

In [13]:
numbers[1] = 'Chitresh'

TypeError: 'tuple' object does not support item assignment

In [14]:
numbers

(1, 2, 3, 4, 5, 6)

### Tuple methods

In [15]:
numbers.count(1)

1

In [17]:
numbers.index(3)

2

### Packing and unpacking Tuples

In [18]:
packed_tuple = 1, "hello", 3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [19]:
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [20]:
# Unpacking with *
numbers = (1, 2, 3, 4, 5, 6)

first, *middle, last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

### Nested Tuple

In [22]:
# Tuple nested in list
lst = [[1, 2, 3, 4, 5, 6], ['a', 'b', 'c'], (True, False)]
print(lst)
print(lst[2])

[[1, 2, 3, 4, 5, 6], ['a', 'b', 'c'], (True, False)]
(True, False)

In [23]:
# Tuple nested in tuple
nested_tpl = ((1, 2, 3, 4, 5, 6), ('a', 'b', 'c'), (True, False))

print(nested_tpl[0])
print(nested_tpl[1][2])

(1, 2, 3, 4, 5, 6)
c

### Iterating over nested tuples

In [24]:
for sub_tuple in nested_tpl:
    for item in sub_tuple:
        print(item, end = " ")
    print()

1 2 3 4 5 6
a b c
True False