### Sets
 - Built in datatypes in python used to store collections of unique items.
 - They are unordered.
 - Used to perform set operations like union, intersection, etc.

In [3]:
my_set = {1, 2, 3, 4, 5, 6}
print(type(my_set))
my_set

<class 'set'>

{1, 2, 3, 4, 5, 6}

In [4]:
empty_set = {}
empty_set

{}

In [5]:
my_set = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2])
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Basic set operations

 - Adding and removing elements

In [6]:
# Adding new element
my_set.add(0)
my_set.add(0)
my_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
# Removing an element
my_set.remove(0)
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
my_set.remove(10)

KeyError: 10

In [11]:
my_set.discard(10)
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
# Pop method
rem_ele = my_set.pop()
print(rem_ele)
my_set

1

{2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
my_set.clear()
my_set

set()

### Set membership test

In [14]:
myset = {1, 2, 3, 4, 5}
print(3 in myset)
print(10 in myset)

True
False

### Mathematical Operations in set

In [15]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

 - Union

In [16]:
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

 - Intersection

In [17]:
intersection_set = set1.intersection(set2)
intersection_set

{4, 5, 6}

In [19]:
set1.intersection_update(set2)
set1

{4, 5, 6}

In [20]:
set1 = {1, 2, 3, 4, 5, 6}

 - Difference

In [21]:
set1.difference(set2)

{1, 2, 3}

In [22]:
set2.difference(set1)

{7, 8, 9}

 - Symmetric Difference

In [23]:
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

### Set Methods

In [24]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 2, 3}

 - issubset

In [25]:
set2.issubset(set1)

True

In [26]:
set1.issuperset(set2)

True