# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tpl = tuple(range(1, 11))
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [6]:
print(f"First Element: {tpl[0]}")
print(f"Middle Element: {tpl[len(tpl) // 2]}")
print(f"Last Element: {tpl[-1]}")

First Element: 1
Middle Element: 6
Last Element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [5]:
print(f"The first three elements are: {tpl[:3]}")
print(f"The last three elements are: {tpl[-3:]}")
print(f"The elements between the index 2 and 5 are: {tpl[2:6]}")

The first three elements are: (1, 2, 3)
The last three elements are: (8, 9, 10)
The elements between the index 2 and 5 are: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [11]:
tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9),
)

for row in tpl:
    print(row)
print(f"Element at second row and third column: {tpl[1][2]}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [8]:
tpl = (1, 2, 3) + (4, 5, 6)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [9]:
tpl = (1, 2, 3, 1, 1, 1, 2)
print(tpl.count(1))
print(tpl.index(1))

4
0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [12]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(f"{a} {b} {c} {d} {e}")

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [13]:
lst = [num for num in range(1, 6)]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [15]:
tpl = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print(tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [16]:
tpl = (num for num in range(1, 5))

lst = list(tpl)
lst.append(6)

tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [18]:
str = 'Chitresh'
tpl = tuple(str)

str = ''.join(tpl)
print(str)

Chitresh

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [19]:
dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9,
}

print(dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [20]:
tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9),
)

for sub_tpl in tpl:
    for item in sub_tpl:
        print(item, end = " ")

1 2 3 4 5 6 7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [22]:
tpl = (1, 2, 3, 4, 1, 2, 3, 4)
set_from_tpl = set(tpl)
print(set_from_tpl)

{1, 2, 3, 4}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [26]:
def findMin(tpl):
    return min(tpl) 

def findMax(tpl):
    return max(tpl)

def findSum(tpl):
    return sum(tpl)

tpl = tuple(range(1, 11))
print(tpl)

min_tpl = findMin(tpl)
print(f"The minimum element in tuple is: {min_tpl}")

max_tpl = findMax(tpl)
print(f"The maximum element in tuple is: {max_tpl}")

sum_tpl = findSum(tpl)
print(f"The sum of the tuple is: {sum_tpl}")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The minimum element in tuple is: 1
The maximum element in tuple is: 10
The sum of the tuple is: 55